* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none !important;
    box-sizing: border-box !important;
    /* font-family: "Poppins", serif !important; */
}

header {
    transition: all 0.3s linear;
}


.scrolled {
    background-color: rgba(255, 243, 228, 0.8);
    /* background-color: #FFF3E4; */
    transition: all 0.4s linear;
}

.logo {
    width: 150px;
    height: 83px;
}

.menu {
    color: #252641;
    font-size: 19px;
    font-weight: 600;
    transition: all 0.3s linear;
    cursor: pointer;
}

.menu:hover {
    color: #F48C06;
}

.login-btn {
    width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #6C6C6C;
    border-radius: 80px;
    transition: all 0.3s linear;
    font-size: 19px;
    font-weight: 500;
    margin-left: 30px;
    border: #F48C06 2px solid;
}

.login-btn:hover {
    color: white;
    background-color: #F48C06;
}

.sign-btn {
    width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #F48C06;
    border-radius: 80px;
    transition: all 0.3s linear;
    font-size: 19px;
    font-weight: 500;
    margin-left: 30px;
}

.sign-btn:hover {
    background-color: white;
    color: #6C6C6C;
    border: 2px solid #F48C06;
}

.menu-btn{
    width: 60px;
    height: 60px;
    color: white;
    background-color: #F48C06;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    transition: all 0.3s linear;
}

.menu-btn:hover{
    background-color: white;
    color: #F48C06;
    border: 2px solid #F48C06;
}

.close{
    width: 60px;
    height: 60px;
    background-color: #F48C06;
    border-radius: 50%;
    color: white;
    transition: all 0.3s linear;
}

.close:hover{
    background-color: white;
    border: 2px solid #F48C06;
}

/* banner */

.hero .container {
    position: relative;
    z-index: 3;
}

.hero {
    padding: 100px 0;
}

.pa {
    position: absolute;
    right: 0;
    top: 100px;
}

.hero-img {
    position: absolute;
    top: -150px;
}

.title {
    font-size: 54px;
    font-weight: 700;
    color: #2F327D;
}

.study {
    color: #F48C06;
}

.dsc {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
    color: #464646;
}

.join-btn {
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #F48C06;
    border-radius: 80px;
    transition: all 0.3s linear;
    font-size: 19px;
    font-weight: 500;
    margin-left: 30px;
}

.join-btn:hover {
    background-color: white;
    color: #6C6C6C;
    border: 2px solid #F48C06;
}

.play-btn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #23BDEE;
    border-radius: 100%;
    transition: all 0.3s linear;
    font-size: 19px;
    font-weight: 500;
    margin-left: 30px;
}

.play-btn:hover {
    color: white;
    background-color: #F48C06;
}

.work {
    color: #252641;
    margin-left: 20px;
}

/* company */
.company {
    margin-top: 150px;
}

.trusted {
    text-align: center;
    font-size: 25px;
    color: #696984;
    padding: 50px;
}

.cloud {
    margin-top: 100px;
    margin-bottom: 100px;
}

.all {
    text-align: center;
    color: #2F327D;
    font-size: 35px;
    font-weight: 700;
}

.software {
    color: #F48C06;
}

.skill {
    text-align: center;
    font-size: 18px;
    color: #696984;
}

.box {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
}

.icon {
    width: 60px;
    height: 60px;
    background-color: #5B72EE;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    margin-left: 120px;
}

.bill {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    color: #2F327D;
}

.secure {
    margin-top: 15px;
    text-align: center;
    font-size: 17px;
    color: #696984;
}

.icon-1 {
    width: 60px;
    height: 60px;
    background-color: #F48C06;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    margin-left: 120px;
}

.icon-2 {
    width: 60px;
    height: 60px;
    background-color: #29B9E7;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 30px;
    margin-left: 120px;
}

/* skilline */
.img {
    padding: 80px;
    background-image: url(../images/Group\ 22.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 600px;
    height: 400px;
}

.img-2{
    padding: 80px;
    background-image: url(../images/Group\ 23.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 600px;
    height: 400px;
}

.for{
    color: white;
    font-size: 30px;
}

.start-btn{
    width: 283px;
    height: 80px;
    border-radius: 80px;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.3s linear;
}

.start-btn:hover{
    background-color: #23BDEE;
}

.access-btn{
    width: 283px;
    height: 80px;
    border-radius: 80px;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    background-color: #23BDEE;
    transition: all 0.3s linear;
}

.access-btn:hover{
    background-color: transparent;
}

/* physical classroom */
.classrooom {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* From Uiverse.io by alexmaracinaru */ 
.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #F48C06;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
  }
  
  .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
  }
  
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  
  .cta:hover:before {
    width: 100%;
    background: #F48C06;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active {
    transform: scale(0.95);
  }
  

/* features */
.feature {
    margin-bottom: 100px;
}

.everything {
    color: #2F327D;
    font-size: 35px;
    font-weight: 700;
}

.school {
    font-size: 22px;
    color: #696984;
    margin-top: 30px;
    margin-bottom: 30px;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

/* tools for teacher */
.tool {
    margin-top: 150px;
    margin-bottom: 100px;
}

.tools {
    color: #2F327D;
    font-size: 40px;
    font-weight: 700;
}

/* assessment */
.test {
    margin-top: 50px;
    margin-bottom: 100px;
}

.feature-btn {
    margin-bottom: 100px;
    width: 280px;
    height: 70px;
    border: #F48C06 2px solid;
    border-radius: 80px;
    color: #F48C06;
    background-color: white;
    font-size: 20px;
    transition: all 0.3s linear;
}

.feature-btn:hover {
    border: #F48C06 2px solid;
    color: white;
    background-color: #F48C06;
}

.integration {
    color: #525596;
}

.buton {
    width: 280px;
    height: 60px;
    border: #F48C06 2px solid;
    border-radius: 80px;
    color: #F48C06;
    background-color: white;
    font-size: 20px;
    transition: all 0.3s linear;
}

.buton:hover {
    border: #F48C06 2px solid;
    color: white;
    background-color: #F48C06;
}

/* what they say */
.say {
    margin-top: 150px;
    margin-bottom: 100px;
}

.school-1 {
    font-size: 22px;
    color: #696984;
    margin-top: 20px;
}

.button {
    font-size: 25px;
    margin-left: 5px;
}

/* latest news */
.latest {
    margin-bottom: 150px;
}

.news {
    text-align: center;
    font-size: 40px;
    color: #2F327D;
    margin-bottom: 10px;
}

.prg {
    text-align: center;
    font-size: 15px;
}

.new {
    width: 130px;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 600;
    color: #252641;
    background-color: #F4C467;
    border: none;
    border-radius: 80px;
}

.add {
    color: #252641;
    font-size: 22px;
    font-weight: 500;
}

.year {
    font-size: 16px;
    font-weight: 400;
    color: #696984;
}

.years {
    font-size: 16px;
    font-weight: 400;
    color: #696984;
    background-color: white;
    border: none;
    margin-bottom: 20px;
}

.Technology {
    margin-left: 20px;
    font-size: 21px;
}

/* fotter */
footer {
    background-color: #252641;
    padding: 20px;
}

.letter {
    color: #B2B3CF;
    padding-bottom: 20px;
}

.email {
    width: 400px;
    height: 60px;
    border: 2px solid #83839A;
    border-radius: 80px;
}

.mail {
    color: #83839A;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    font-weight: 500;
}

.subscribe {
    margin-left: 20px;
    width: 179px;
    height: 60px;
    background-color: #393fcf;
    border: #393fcf 2px solid;
    border-radius: 60px;
    color: white;
}

.form {
    margin-bottom: 30px;
}

.career {
    color: #83839A;
    text-align: center;
}

.line img {
    margin: 15px;
}

.inc {
    color: #B2B3CF;
}

